@{
    ViewData["Title"] = "Home";

}



<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="p-5">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="row">
                    <div class="col">

                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded" src="~/assets/img/elements/update3.jpg" alt="First slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Discover the Unknown</h3>
                                        @*<p>He is in his Space suit, which is purple and has a crystal on it that is blue and yellow. This suit is made of purple crystals that are blue, yellow and purple. His helmet is a purple one, and his space boots are purple too.</p>*@
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded" src="~/assets/img/elements/update2.jpg" alt="Second slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Blast into the Future</h3>
                                       @* <p>
                                            The floating man is the first alien in the series. It is also the most powerful alien and the one that can be the cause of the war between the humans and aliens. He is an alien who is very powerful and can fly, and is one of three aliens that are able to control the galaxy.
                                        </p>*@
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded" src="~/assets/img/elements/update.jpg" alt="Third slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Explore the Galaxy.</h3>
                                        @*<p>
                                             A space alien. The name of his planet is called the 'Galactic' and is located in the Milky Way galaxy, a large galaxy located between the Andromeda and the Local Group. It is also called 'The Milky' because it is the brightest galaxy.
                                        </p>*@
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                            
                    </div>


                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- Logo -->
                                <div class="justify-content-center">

                                    <h1>WELCOME TO SNASA University!</h1>
                                    <h3>Putting the Universe into University since 2023</h3>
                                    
                                    <p>
                                        SNASA's mission is to explore and understand the Universe. It does this through the agency's many space programs, including human spaceflight, planetary science, Earth science and technology, and aeronautical research and development. At SNASAs we are dedicated to the study of the Sun and its planets, the Earth and life, as well as the solar wind and space weather. The mission's science is conducted in the areas of space science (including solar physics and heliophysics).
                                        SNASA also leads a Moon to Mars exploration approach, which includes working with U.S. industry. In a statement SNASA said the agency was working "closely" to develop a plan for the U..S.-Russian space program, as well as the development of new technologies to help SNASA's exploration efforts.
                                        [Read SNASA also leads a Moon to Mars exploration approach, which includes working with U.S. industry. ]
                                        "In a new statement, SNASA's Director of the Space Science and Applications Division, John F. Holdren, said, "We are working closely with our Russian counterparts to ensure that we can provide a strong foundation for a successful future Moon Explorations.


                                    </p>
                                    <h3>Questions about our University?</h3>
                                    <p>
                                        <a asp-action="Contact" asp-controller="Home" class="btn btn-primary">Contact Us</a>
                                    </p>
                                    
                        </div>
                    </div>

                          
                </div>
            </div>
    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>


